*.ipr
*.iws
*.iml
.gradle*
build/*
out
.idea
.idea/*
.classpath
*.log
*.log.*
*.bak
.DS_Store
.settings
/build
/logs
/target
/src/test
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
